body {
  padding-top: 73px;
}
.header_nav li+li {
  border-left: solid 1px #ccc;
}
.navbar-brand {
  margin-left: 185px;
}
.index_main ul {
  padding: 0;
}
.index_main li {
  padding: 0;
  margin-left: 18px;
  list-style: none;
}






/* エラーメッセージ用のスタイル */
.error {
  color: red;
}
/* 成功メッセージ用のスタイル */
.success {
  color: green;
}
.delete {
  display: inline;
}