body {
  padding-top: 73px;
}
.header_nav li+li {
  border-left: solid 1px #ccc;
}
.navbar-brand {
  margin-left: 185px;
}

/* エラーメッセージ用のスタイル */
.error {
  color: red;
}
/* 成功メッセージ用のスタイル */
.success {
  color: green;
}
.delete {
  display: inline;
}